@page
@model CLIWEB.Pages.TransferirModel
<h2>Transferir</h2>
@if(!string.IsNullOrEmpty(Model.Mensaje)) { <p style="color:@(Model.Mensaje.StartsWith("OK")?"green":"red")">@Model.Mensaje</p> }
<a href="/Index">Volver</a>
